<body style="background-color: black;">
<h1 style="background-color: gold;"><center>HOLIDAY MANAGEMENT</center></h1>
<p align="right"><a href=leave><button class= black style="background-color: teal; color: aliceblue;">Apply Leave</button></a>
    <br><br><a href=holiday><button class=black style="background-color: gold">Holiday List</button></a></p>
    <p align="right"><a href=cal><button class= black style="background-color: teal; color: aliceblue;">Calendar</button></a></p>    
<center>
<form method="post" action="" style="color: goldenrod;">
    Holiday Name:<input type="text" name="name"/>
    <br><br>
    Holiday Date:  <input type="text" name="date"/>
    <br><br>
    <input type="submit" value="submit">
</form>
</center>
</body>